# Website = https://en.wikipedia.org/wiki/List_of_Hindi_films_of_1980

In [3]:
from bs4 import BeautifulSoup
import requests

In [4]:
response = requests.get('https://en.wikipedia.org/wiki/List_of_Hindi_films_of_1980')

In [5]:
# To check the status of the response
response.status_code

200

In [6]:
print(response.text[:1000])

<!DOCTYPE html>
<html class="client-nojs vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-sticky-header-disabled vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-clientpref-1 vector-feature-main-menu-pinned-disabled vector-feature-limited-width-clientpref-1 vector-feature-limited-width-content-enabled vector-feature-zebra-design-enabled vector-feature-custom-font-size-clientpref-0 vector-feature-client-preferences-disabled vector-feature-client-prefs-pinned-disabled vector-toc-available" lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
<title>List of Hindi films of 1980 - Wikipedia</title>
<script>(function(){var className="client-js vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-sticky-header-disabled vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-clientpref-1 vector-feature-main-menu-pinned-disabled vector-feature-limite

In [7]:
type(response.text)

str

In [8]:
html = response.text

In [9]:
data = BeautifulSoup(html,'html.parser')

In [ ]:
# To make the data look good we will be using  method called as prettify
print(data.prettify())

In [ ]:
# If we want to see the title name
print(data.title)

In [ ]:
# Again to look good we should we changing into the string format
print(data.title.string)

In [ ]:
# To find all of the headings
headings_before_table = data.find_all('h2')
print(headings_before_table)

In [ ]:
# To find the tables
table_data = data.find_all('table', class_ = 'wikitable')
print(len(table_data))

In [ ]:
table_data = data.find('table', class_ = 'wikitable')
rows = table_data.find_all('tr')
print(rows)

In [16]:
# Now to make the dataset we have to be following the below code

movies = []
for row in rows :
  curr_movie= []
  for cell in row.find_all("td"):
    if cell.string != "\n" and cell.string != None:
        curr_movie.append(cell.string)

    else:
        curr_movie.append("NA")
  movies.append(curr_movie)

# Now lets print the movies dataset
print(movies)

[[], ['Aakrosh', 'Govind Nihalani', 'NA', 'Drama, Mystery, Thriller', 'NA'], ['Aanchal', 'Anil Ganguly', 'NA', 'Action, Family, Drama, Comedy', 'NA'], ['Aap Ke Deewane', 'Surendra Mohan', 'NA', 'Romance', 'NA'], ['Aap To Aise Na The', 'Ambrish Sangal', 'NA', 'Romance, Drama, Family', 'NA'], ['Aasha', 'J. Om Prakash', 'NA', 'Drama, Family, Musical, Romance', 'NA'], ['Abdullah', 'Sanjay Khan', 'NA', 'Action, Drama, Family', 'NA'], ['Abhimanyu', 'Mahesh Bhatt', 'NA', 'NA', 'NA'], ['Agent 009', 'NA', 'NA', 'Action', 'NA'], ['Agreement', 'Anil Ganguly', 'NA', 'Musical, Comedy, Drama, Family', 'NA'], ['Akhri Insaaf', 'Kalidas', 'NA', 'Action', 'NA'], ['Albert Pinto Ko Gussa Kyoon Aata Hai', 'Saeed Akhtar Mirza', 'NA', 'Comedy, Drama, Romance', 'NA'], ['Alibaba Aur 40 Chor', 'NA', 'NA', 'Action, Adventure, Family, Romance', 'NA'], ['Ambe Maa Jagdambe Maa', 'Sukhdev Ahluwalia', 'NA', 'History, Comedy, Drama, Family', 'NA'], ['Angaar', 'Ashok Roy', 'NA', 'Suspense', 'NA'], ['Apne Paraye', 'Basu Chatterji', 'NA', 'Drama, Family, Comedy', 'NA'], ['Arising from the Surface', 'Mani Kaul', 'Bharat Gopi,  M. K. Raina', 'Compilation', 'NA'], ['Badla Aur Balidan', 'Kawal Sharma', 'NA', 'NA', 'NA'], ['Badrinath Dham', 'Ashish Kumar', 'Lalita Pawar', 'NA', 'NA'], ['Bakhe Kadam', 'K. Shivram', 'NA', 'Drama', 'NA'], ['Bambai Ka Maharaja', 'Shibu Mitra', 'NA', 'NA', 'NA'], ['Bandish', 'K. Bapaiah', 'NA', 'Action, Crime, Drama, Romance', 'NA'], ['Be-Reham', 'R. Jhalani', 'NA', 'NA', 'NA'], ['Beqasoor', 'B.P. Harisinghaney', 'NA', 'Action, Crime, Drama, Thriller', 'NA'], ['Bhumi Par Aaye Bhagwan', 'Ravi', 'NA', 'Action, Drama, Fantasy', 'NA'], ['Bin Maa Ke Bachche', 'Satyen Bose', 'NA', 'NA', 'NA'], ['Black Water', 'Shibu Mitra', 'Shashi Kapoor, Neetu Singh, Ajit Singh, Amjad Khan, Raza Murad', 'NA', 'NA'], ['Bombay 405 Miles', 'Brij Sadanah', 'NA', 'Comedy, Action', 'NA'], ['Chaal Baaz', 'Hari Mehra', 'NA', 'Action', 'NA'], ['Chambal Ki Kasam', 'Ram Maheshwary', 'NA', 'Action, Crime', 'NA'], ['Choron Ki Baaraat', 'Harmesh Malhotra', 'NA', 'Action', 'NA'], ['Chunaoti', 'Satpal', 'NA', 'Action, Thriller', 'NA'], ['Desh Drohi', 'Prakash Mehra', 'NA', 'Action', 'NA'], ['Dhamaka', 'Jagdesh', 'NA', 'NA', 'NA'], ['Dhan Daulat', 'Harish Shah', 'NA', 'NA', 'NA'], ['Do Aur Do Paanch', 'Rakesh Kumar', 'NA', 'Action, Comedy, Drama, Musical, Romance', 'NA'], ['Do Premee', 'Raj Khosla', 'NA', 'Romance', 'NA'], ['Do Shatru', 'Kewal Misra', 'NA', 'NA', 'NA'], ['Door Waadiyon Mein Kahin', 'Kishore Kumar', 'Kishore Kumar', 'NA', 'NA'], ['Dostana', 'Raj Khosla', 'NA', 'NA', 'NA'], ['Ek Baar Kaho', 'Lekh Tandon', 'NA', 'Romance, Family Drama', 'NA'], ['Ek Baar Phir', 'Vinod Pande', 'NA', 'Drama', 'NA'], ['Ek Do Teen Chaar', 'Vijay Anand', 'NA', 'Action', 'NA'], ['Ek Gunah Aur Sahi', 'Yogi Kathuria', 'NA', 'NA', 'NA'], ['Ganga Aur Suraj', 'A. Salaam', 'NA', 'NA', 'NA'], ['Ganga Dham', 'B. S. Thapa', 'NA', 'Action', 'NA'], ['Gehrayee', 'Arunavikas, Arunavikas', 'NA', 'Horror', 'NA'], ['Garam Khoon', 'A. Saalam', 'NA', 'Action', 'NA'], ['Guest House', 'NA', 'NA', 'Horror', 'NA'], ['Gunehgaar', 'Rahul Rawail', 'NA', 'NA', 'NA'], ['Hum Nahin Sudherenge', 'Asrani', 'NA', 'NA', 'NA'], ['Humkadam', 'Anil Ganguly', 'NA', 'Musical, Drama, Family', 'NA'], ['Hum Paanch', 'Bapu', 'NA', 'Family, Action', 'NA'], ['Insaf Ka Tarazu', 'B.R. Chopra', 'NA', 'Drama, Crime, Family', 'NA'], ['Jaaye To Jaaye Kahan', 'NA', 'NA', 'NA', 'NA'], ['Jal Mahal', 'R. Jhalani', 'NA', 'Fantasy', 'NA'], ['Jazbaat', 'Suraj Prakash', 'NA', 'Romance, Drama', 'NA'], ['Judaai', 'T. Rama Rao', 'NA', 'Family, Drama', 'NA'], ['Jwalamukhi', 'Prakash Mehra', 'NA', 'Action, Romance, Drama, Family', 'NA'], ['Jyoti Bane Jwala', 'Dasari Narayana Rao', 'NA', 'Action, Drama, Family', 'NA'], ['Kali Ghata', 'Ved Rahi', 'NA', 'Thriller, Mystery, Romance', 'NA'], ['Kasturi', 'Bimal Dutta', 'NA', 'Drama', 'NA'], ['Khanjar', 'Atma Ram', 'NA', 'Action, Thriller', 'NA'], ['Karz', 'Subhash Ghai', 'NA', 'Musical', 'NA'], ['Khoon Kharaba', 'Deepak Bahry', 'NA', 'NA', 'NA'], ['Khubsoorat', 'Hrishikesh Mukherjee', 'NA', 'Comedy, Drama, Family', 'NA'], ['Khwab', 'Shakti Samanta', 'NA', 'Crime, Drama, Romance', 'NA'], ['Kismet', 'Bhisham Kohli', 'NA', 'Action, Family, Musical', 'NA'], ['Lahu Pukarega', 'Akthar -Ul-Iman', 'NA', 'Action', 'NA'], ['Lootmaar', 'Dev Anand', 'NA', 'Action, Thriller', 'NA'], ['Maan Abhiman', 'Hiren Nag', 'NA', 'Drama, Family', 'NA'], ['Maang Bharo Sajana', 'T. Rama Rao', 'NA', 'Drama', 'NA'], ['Mahashakti', 'K. S. Giri', 'NA', 'NA', 'NA'], ['Man Pasand', 'Basu Chatterjee', 'NA', 'Comedy, Drama, Family', 'NA'], ['Manokaamnaa', 'Kedar Kapoor', 'NA', 'Drama, Romance', 'NA'], ['Morchha', 'Ravikant Nagaich', 'NA', 'NA', 'NA'], ['Nazrana Pyar Ka', 'S. M. Sagar', 'NA', 'Drama', 'NA'], ['Neeyat', 'Anil Ganguly', 'NA', 'Family, Drama', 'NA'], ['Nishana', 'K. Raghavendra Rao', 'NA', 'Action', 'NA'], ['Oh Bewafa', 'Saawan Kumar Tak', 'NA', 'Drama, Romance', 'NA'], ['Patita', 'I. V. Sasi', 'Shoma Anand, Vikram, Raj Kiran', 'NA', 'NA'], ['Patthar Se Takkar', 'Gulab Mehta', 'NA', 'Action, Crime, Thriller', 'NA'], ['Payal Ki Jhankaar', 'Satyan Bose', 'NA', 'Romance', 'NA'], ['Phir Wahi Raat', 'Danny Denzongpa', 'NA', 'Crime, Horror, Mystery', 'NA'], ['Pyaara Dushman', 'Anand Sagar', 'NA', 'Action', 'NA'], ['Qatil Kaun', 'Amit Bose', 'Sameer Khan,  Nanda,  Rita Bakshi,  Ranjeet', 'NA', 'NA'], ['Qurbani', 'Feroz Khan', 'NA', 'Romance', 'NA'], ['Raksha Bandhan', 'Shantilal Soni', 'NA', 'NA', 'NA'], ['Ram Balram', 'Vijay Anand', 'NA', 'Action', 'NA'], ['Red Rose', 'Bharathi Rajaa', 'NA', 'Adventure, Crime, Musical, Romance, Thriller', 'NA'], ['Saajan Mere Main Saajan Ki', 'Hiren Nag', 'NA', 'NA', 'NA'], ['Saboot', 'NA', 'NA', 'Thriller', 'NA'], ['Sanjh Ki Bela', 'Madhusudan', 'NA', 'Romance', 'NA'], ['Satah Se Uthata Aadmi', 'Mani Kaul', 'NA', 'Compilation', 'NA'], ['Sau Din Saas Ke', 'Vijay Sadanah', 'NA', 'Drama', 'NA'], ['Shaan', 'Ramesh Sippy', 'NA', 'Action', 'NA'], ['Shadi Se Pahale', 'Karunesh Thakur', 'NA', 'Drama', 'NA'], ['Shiv Shakti', 'NA', 'NA', 'NA', 'NA'], ['Sitara', 'Meraj', 'NA', 'Drama, Family', 'NA'], ['Sparsh', 'Sai Paranjpye', 'NA', 'Drama', 'NA'], ['Swayamvar', 'P. Sambasiva Rao', 'NA', 'Drama, Family, Action, Comedy', 'NA'], ['Takkar', 'K. Bapaiah', 'NA', 'Action', 'NA'], ['Taxi Chor', 'Sushil Vyas', 'NA', 'Action', 'NA'], ['Teen Ekkey', 'Jogender Sehlley', 'NA', 'NA', 'NA'], ['The Burning Train', 'Ravi Chopra', 'NA', 'Action', 'NA'], ['The Naxalites', 'Khwaja Ahmad Abbas', 'NA', 'Drama', 'NA'], ['Thodisi Bewafaii', 'Esmayeel Shroff', 'NA', 'Drama, Family', 'NA'], ['Trilok Sundari', 'Singeetham Srinivasa Rao', 'NA', 'NA', 'NA'], ['Unees-Bees', 'Swaroop Kumar', 'NA', 'NA', 'NA'], ['Yari Dushmani', 'Sikandar Khanna', 'NA', 'NA', 'NA'], ['Yeh Kaisa Insaf?', 'Narayana Rao Dasari', 'NA', 'Drama', 'NA'], ['Zakhmon Ke Nishan', 'Diljeet Bassi', 'NA', 'Action', 'NA'], ['Zalim', 'B. Subhash', 'NA', 'NA', 'NA']]

In [ ]:
# To make the dataframe we wil be working on the pandas library

import pandas as pd


df = pd.DataFrame()

for row in movies:
    if len(row) != 0:
        df = df.append({'Movie name': row[0], 'Director': row[1], 'Cast': row[2], 'Genre': row[3]}, ignore_index=True)

In [ ]:
# Now lets print the dataframe
print(df)

In [ ]:
# Let's see the top 5 and last 5 for better understanding
df.head()

In [ ]:
df.tail()